<div class="w-[400px] font-mono break-all" [style.width]="" *ngIf="recibo">
    <div class="receipt p-2 border rounded bg-gray-100 text-md">
        <div>
            <img src="assets/images/tcontur.jpg" class="max-w-full" />
        </div>
        <div class="my-4"></div>

        <div class="text-center font-bold">
            {{ recibo.documento.nombre }}
        </div>
        <div class="text-center font-bold">
            {{ recibo.serie + '- "' + recibo.numero }}
        </div>
        <!-- linea en blanco con atailwinds -->
        <div class="my-4"></div>
        <div class="flex flex-col text-md">
            <div class="">
                <span class="w-20 inline-block">FECHA</span>
                <span>{{ transformDate(recibo?.hora) }}</span>
            </div>
            <div class="">
                <span class="w-20 inline-block">RUC</span>
                <span>{{ recibo?.cliente?.ruc }}</span>
            </div>
            <div class=" ">
                <span class="w-20 inline-block">PADRON</span>
                <span class="">{{ recibo?.cliente?.padron }}</span>
            </div>
            <div class="">
                <span class="w-18 inline-block">DIRECCION</span>
                <span class="">
                    {{ recibo?.cliente?.direccion }}
                </span>
            </div>
            <span>------------------------------------------------</span>
            <div class="qrcode mt-4 text-center">
                <img src="qrcode-image.png" alt="QR Code" class="max-w-full" />
                <p>Scan QR Code for details</p>
            </div>
        </div>
    </div>
</div>
