<!-- mostrar boton de impresora desabilitado de si typeDevice es null
    si es usb o bluetooth mostrar el boton de impresora  mas el icono de bluetooth o usb

-->

<div (click)="openModalPrint()">
    <span [ngSwitch]="printerInfo.type" *ngIf="printerInfo; else elseTemplate">
        <button
            *ngSwitchCase="'usb'"
            mat-icon-button
            class="mat-18"
            [matTooltip]="
                printerInfo?.productName +
                ' ' +
                ' está ' +
                (printerInfo?.estado ? 'conectado' : 'desconectado')
            "
        >
            <mat-icon
                [ngClass]="{
                'text-sky-400': printerInfo?.estado,
            }"
                >usb</mat-icon
            >
        </button>
        <button
            *ngSwitchCase="'bluetooth'"
            class="mat-18"
            [matTooltip]="
                printerInfo?.productName +
                ' ' +
                ' está ' +
                (printerInfo?.estado ? 'conectado' : 'desconectado')
            "
        >
            <mat-icon
                [ngClass]="{
                    'text-sky-400': printerInfo?.estado,
                }"
                >bluetooth</mat-icon
            >
        </button>
        <button
            *ngSwitchCase="'pdf'"
            mat-icon-button
            class="mat-18"
            [matTooltip]="
                printerInfo?.productName +
                ' ' +
                ' está ' +
                (printerInfo?.estado ? 'conectado' : 'desconectado')
            "
        >
            <mat-icon
                [ngClass]="{
                    'text-sky-400': printerInfo?.estado,
                }"
                >print</mat-icon
            >
        </button>

        <!-- <button
            mat-icon-button
            matTooltip="Metodo de Impresion No Seleccionado"
            *ngSwitchDefault
        >
            <mat-icon>print_disabled</mat-icon>
        </button> -->
    </span>

    <ng-template #elseTemplate>
        <span>
            <button
                mat-icon-button
                matTooltip="Metodo de Impresion No Seleccionado"
            >
                <mat-icon>print_disabled</mat-icon>
            </button>
        </span>
    </ng-template>
</div>
