<strong class="print-section">Status: {{ status }}</strong>
<div class="w-full flex flex-col items-center justify-center gap-10">
    <h2>Listado de Dispositivos USB</h2>
    <select (change)="onSelectDevice($event.target.value)">
        <option value="">Selecciona un dispositivo</option>
        <option *ngFor="let device of devices" [value]="device">
            {{ device.productName }}
        </option>
    </select>

    <div>
        <button
            mat-raised-button
            color="primary"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            (click)="requestUsb()"
        >
            Connect to USB
        </button>
    </div>

    <div>
        <button
            mat-raised-button
            color="primary"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            (click)="print()"
            [disabled]="status === false"
        >
            Print!
        </button>
    </div>
</div>
