<div class="flex flex-col min-w-72 max-w-240 max-h-screen -m-6">
    <div
        class="flex flex-0 items-center justify-between h-16 sm:w-90 pr-3 sm:pr-5 pl-6 sm:pl-8 border-b border-gray-200"
    >
        <div class="text-lg font-medium">Configurar Impresora</div>
        <button mat-icon-button (click)="closeModal()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>
    <div class="flex flex-col flex-auto p-6 sm:p-4 overflow-y-auto">
        <div class="font-medium flex items-center justify-between mb-2">
            Tipo de conexion:
        </div>
        <div
            class="flex flex-col md:flex-row justify-center gap-2 md:gap-10 w-full"
        >
            <button
                class="flex my-1 md:my-4 py-3 px-5 ring-1 rounded-lg items-center justify-center"
                [ngClass]="{
                    ' hover:ring-2  cursor-pointer': usbEnable,
                    'opacity-50 cursor-not-allowed': !usbEnable,
                    'ring-4 ring-sky-600': printerInfo?.type === 'usb'
                }"
                [disabled]="!usbEnable"
                (click)="requestDeviceUsb()"
            >
                <mat-icon class="mat-18" matTooltip="Conexion USB"
                    >usb</mat-icon
                >
            </button>
            <button
                class="flex items-center justify-center my-1 md:my-4 py-3 px-5 ring-1 rounded-lg"
                [ngClass]="{
                    ' hover:ring-2  cursor-pointer': blueEnable,
                    'opacity-50 cursor-not-allowed': !blueEnable,
                    'ring-4 ring-sky-600': printerInfo?.type === 'bluetooth'
                }"
                [disabled]="!blueEnable"
                (click)="requestDeviceBluetooth()"
            >
                <mat-icon
                    class="mat-18"
                    [matTooltip]="
                        blueEnable
                            ? 'Conexion Bluetooth'
                            : 'Bluetooth no disponible'
                    "
                    >bluetooth</mat-icon
                >
            </button>
            <button
                class="flex items-center justify-center my-1 md:my-4 py-3 px-5 ring-1 rounded-lg"
                [ngClass]="{
                    'ring-4 ring-sky-600': printerInfo?.type === 'pdf'
                }"
                (click)="requestDevicePdf()"
                matTooltip="Otra impresora"
            >
                <mat-icon
                    class="mat-18"
                    svgIcon="heroicons_outline:window"
                ></mat-icon>
            </button>
        </div>
        <!-- n pre con informacion de la impresora -->
        <div
            class="flex justify-between items-center border-b mb-3 border-gray-400 pb-2"
        >
            <!-- <div class="text-lg font-medium">Informacion de la impresora</div> -->
        </div>
        <div class="font-medium flex items-center justify-between mb-2">
            Papel:
        </div>
        <form
            [formGroup]="opcionesForm"
            class="flex flex-col items-center justify-center w-full"
        >
            <mat-chip-listbox formControlName="withPrint">
                <mat-chip-option [color]="'primary'" [value]="'80MM'"
                    >80 mm</mat-chip-option
                >
                <mat-chip-option [color]="'primary'" [value]="'58MM'"
                    >58 mm</mat-chip-option
                >
            </mat-chip-listbox>
        </form>
        <div
            class="flex justify-between items-center border-b mb-3 border-gray-400 pb-2"
        >
            <!-- <div class="text-lg font-medium">Informacion de la impresora</div> -->
        </div>
        <div class="w-full">
            <div class="bg-white p-2 rounded-lg overflow-auto">
                <span class="w-20 inline-block text-gray-500"> Estado: </span>
                <span class="font-bold">{{
                    printerInfo?.estado ? 'Conectado ' : 'Desconectado'
                }}</span>
            </div>
            <div class="bg-white p-2 rounded-lg overflow-auto">
                <span class="w-20 inline-block text-gray-500"> Conexion: </span>
                <span class="font-bold">{{ printerInfo?.type }}</span>
            </div>
            <div class="bg-white p-2 rounded-lg overflow-auto">
                <span class="w-20 inline-block text-gray-500"> Nombre: </span>
                <span class="font-bold">{{ printerInfo?.name }}</span>
            </div>
            <div
                class="flex justify-between items-center border-b mb-3 border-gray-400 pb-2"
            >
                <!-- <div class="text-lg font-medium">Informacion de la impresora</div> -->
            </div>
            <div
                class="bg-white flex flex-col p-2 rounded-lg break-words w-full break-all"
            >
                <div class="font-medium flex items-center justify-between mb-2">
                    Proceso:
                </div>
                <div>
                    {{ process }}
                </div>
            </div>
        </div>
    </div>
</div>
