<div class="w-full flex flex-col items-center gap-10">
    <div class="w-full flex flex-col items-center justify-center gap-10">
        <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            mat-raised-button
            color="primary"
            (click)="print()"
        >
            Print Salida
        </button>
    </div>

    <!-- div con altura y scrol -->
    <div class="h-[800px] overflow-y-auto">
        <app-salida-preview32 [structureData]="structureData">
        </app-salida-preview32>
    </div>
</div>
